<div class="main-container">
  <app-movie-list #target listTitle="Discover" [discover]=true></app-movie-list>
  <app-movie-list listTitle="Action"></app-movie-list>
  <app-movie-list listTitle="Adventure"></app-movie-list>
  <app-movie-list listTitle="Animation"></app-movie-list>
  <app-movie-list listTitle="Comedy"></app-movie-list>
  <app-movie-list listTitle="Crime"></app-movie-list>
  <app-movie-list listTitle="Documentary"></app-movie-list>
  <app-movie-list listTitle="Drama"></app-movie-list>
  <app-movie-list listTitle="Family"></app-movie-list>
  <app-movie-list listTitle="Fantasy"></app-movie-list>
  <app-movie-list listTitle="History"></app-movie-list>
  <app-movie-list listTitle="Horror"></app-movie-list>
  <app-movie-list listTitle="Music"></app-movie-list>
  <app-movie-list listTitle="Mystery"></app-movie-list>
  <app-movie-list listTitle="Romance"></app-movie-list>
  <app-movie-list listTitle="Science Fiction"></app-movie-list>
  <app-movie-list listTitle="TV Movie"></app-movie-list>
  <app-movie-list listTitle="Thriller"></app-movie-list>
  <app-movie-list listTitle="War"></app-movie-list>
  <app-movie-list listTitle="Western"></app-movie-list>
</div>

